<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

    <h1>Iniciar sesión</h1>

    <form method="POST">
        {% csrf_token %}

        <label>Correo:</label>
        <input type="email" name="correo">

        <br><br>

        <label>Contraseña:</label>
        <input type="password" name="contrasenia">

        <br><br>

        <button type="submit">Ingresar</button>
    </form>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    {% if request.session.rol %}
        <p>Sesión iniciada. Rol: {{ request.session.rol }}</p>
    {% endif %}

</body>
</html>